h1 {
    font-size: 32px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}
h3 {
    font-size: 20px;
    font-weight: bold;
}

.speFullOpacityOnHover:hover {
    opacity: 1;
}
.speColorBlue {
    color: #3a73ad;
}
.speColorHoverBlue:hover {
    color: #3a73ad;
}
.speColorDarkBlue {
    color: #285786;
}
.speColorRed {
    color: #d32600;
}
.speColorDarkRed {
    color: #9A1C00;
}
.speColorYellow {
    color: #f59600;
}
.speColorDarkYellow {
    color: #CC6600;
}
.speColorGreen {
    color: #6ba71c;
}
.speColorDarkGreen {
    color: #4F810D;
}
.speBackgroundBlue {
    background-color: #3a73ad;
}
.speBackgroundDarkBlue {
    background-color: #285786;
}
.speBackgroundRed {
    background-color: #d32600;
}
.speBackgroundYellow {
    background-color: #f59600;
}
.speBackgroundGreen {
    background-color: #6ba71c;
}
.speBackgroundHoverBlue:hover {
    background-color: #3a73ad;
}
.speBackgroundHoverRed:hover {
    background-color: #d32600;
}
.speBackgroundHoverYellow:hover {
    background-color: #f59600;
}
.speBackgroundHoverGreen:hover {
    background-color: #6ba71c;
}
.speBorderBlue {
    border-color: #3a73ad;
}
.speBorderDarkBlue {
    border-color: #285786;
}
.speBorderRed {
    border-color: #d32600;
}
.speBorderDarkRed {
    border-color: #9A1C00;
}
.speBorderYellow {
    border-color: #f59600;
}
.speBorderDarkYellow {
    border-color: #CC6600;
}
.speBorderGreen {
    border-color: #6ba71c;
}
.speBorderDarkGreen {
    border-color: #4F810D;
}