body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.width1024px {
    width: 1024px;
}
.width480px {
    width: 480px;
}
.width420px {
    width: 420px;
}
.width360px {
    width: 360px;
}
.width320px {
    width: 320px;
}
.width196px {
    width: 196px;
}
.width64px {
    width: 64px;
}
.width32px {
    width: 32px;
}
.width24px {
    width: 24px;
}
.width100per {
    width: 100%;
}
.width80per {
    width: 80%;
}
.width50per {
    width: 50%;
}
.width33per {
    width: 33%;
}
.width20per {
    width: 20%;
}
.widthNo {
    width: 0;
}

.height768px {
    height: 768px;
}
.height720px {
    height: 720px;
}
.height512px {
    height: 512px;
}
.height480px {
    height: 480px;
}
.height420px {
    height: 420px;
}
.height128px {
    height: 128px;
}
.height96px {
    height: 96px;
}
.height64px {
    height: 64px;
}
.height32px {
    height: 32px;
}
.height16px {
    height: 16px;
}
.height100per {
    height: 100%;
}
.heightNo {
    height: 0;
}

.positionRelative {
    position: relative;
}
.positionAbsolute {
    position: absolute;
}
.positionFixed {
    position: fixed;
}

.topNo {
    top: 0px;
}
.top4px {
    top: 4px;
}
.top8px {
    top: 8px;
}
.top16px {
    top: 16px;
}
.top32px {
    top: 32px;
}
.top48px {
    top: 48px;
}
.top64px {
    top: 64px;
}
.topM4px {
    top: -4px;
}
.topM8px {
    top: -8px;
}
.topM16px {
    top: -16px;
}
.rightNo {
    right: 0px;
}
.right4px {
    right: 4px;
}
.right8px {
    right: 8px;
}
.right16px {
    right: 16px;
}
.right32px {
    right: 32px;
}
.right48px {
    right: 48px;
}
.right64px {
    right: 64px;
}
.rightM4px {
    right: -4px;
}
.rightM8px {
    right: -8px;
}
.rightM16px {
    right: -16px;
}
.bottomNo {
    bottom: 0px;
}
.bottom4px {
    bottom: 4px;
}
.bottom8px {
    bottom: 8px;
}
.bottom16px {
    bottom: 16px;
}
.bottomM4px {
    bottom: -4px;
}
.bottomM8px {
    bottom: -8px;
}
.bottomM16px {
    bottom: -16px;
}
.leftNo {
    left: 0px;
}
.left4px {
    left: 4px;
}
.left8px {
    left: 8px;
}
.left16px {
    left: 16px;
}
.left64px {
    left: 64px;
}
.leftM4px {
    left: -4px;
}
.leftM8px {
    left: -8px;
}
.leftM16px {
    left: -16px;
}
.allNo {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.margin4px {
    margin: 4px;
}
.margin8px {
    margin: 8px;
}
.margin16px {
    margin: 16px;
}
.marginH4px {
    margin-left: 4px;
    margin-right: 4px;
}
.marginH8px {
    margin-left: 8px;
    margin-right: 8px;
}
.marginH16px {
    margin-left: 16px;
    margin-right: 16px;
}
.marginH32px {
    margin-left: 32px;
    margin-right: 32px;
}
.marginV4px {
    margin-top: 4px;
    margin-bottom: 4px;
}
.marginV8px {
    margin-top: 8px;
    margin-bottom: 8px;
}
.marginV16px {
    margin-top: 16px;
    margin-bottom: 16px;
}
.marginV32px {
    margin-top: 32px;
    margin-bottom: 32px;
}
.marginL8px {
    margin-left: 8px;
}
.marginL16px {
    margin-left: 16px;
}
.marginL32px {
    margin-left: 32px;
}
.marginL64px {
    margin-left: 64px;
}
.marginL96px {
    margin-left: 96px;
}
.marginL128px {
    margin-left: 128px;
}
.marginLAuto {
    margin-left: auto;
}
.marginLNone {
    margin-left: 0;
}
.marginT4px {
    margin-top: 4px;
}
.marginT8px {
    margin-top: 8px;
}
.marginT16px {
    margin-top: 16px;
}
.marginTAuto {
    margin-top: auto;
}
.marginTNone {
    margin-top: 0;
}
.marginB4px {
    margin-bottom: 4px;
}
.marginB8px {
    margin-bottom: 8px;
}
.marginB16px {
    margin-bottom: 16px;
}
.marginB32px {
    margin-bottom: 32px;
}
.marginBAuto {
    margin-bottom: auto;
}
.marginBNone {
    margin-bottom: 0;
}
.marginR32px {
    margin-right: 32px;
}
.marginR64px {
    margin-right: 64px;
}
.marginR96px {
    margin-right: 96px;
}
.marginRAuto {
    margin-right: auto;
}
.marginRNone {
    margin-right: 0;
}
.marginNo {
    margin: 0;
}

.padding8px {
    padding: 8px;
}
.padding16px {
    padding: 16px;
}
.paddingH8px {
    padding-left: 8px;
    padding-right: 8px;
}
.paddingH16px {
    padding-left: 16px;
    padding-right: 16px;
}
.paddingV8px {
    padding-top: 8px;
    padding-bottom: 8px;
}
.paddingV16px {
    padding-top: 16px;
    padding-bottom: 16px;
}
.paddingT32px {
    padding-top: 32px;
}
.paddingT64px {
    padding-top: 64px;
}
.paddingR16px {
    padding-right: 16px;
}
.paddingNo {
    padding: 0;
}

.overflowHidden {
    overflow: hidden;
}

.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}

.displayNone {
    display: none;
}
.displayBlock {
    display: block;
}
.displayInlineBlock {
    display: inline-block;
}

.colorBlack {
    color: black;
}
.color222 {
    color: #222;
}
.color444 {
    color: #444;
}
.color666 {
    color: #666;
}
.color888 {
    color: #888;
}
.color000 {
    color: #000;
}
.colorBBB {
    color: #BBB;
}
.colorDDD {
    color: #DDD;
}
.colorWhite {
    color: white;
}

.backgroundBlack {
    background-color: black;
}
.background222 {
    background-color: #222;
}
.background444 {
    background-color: #444;
}
.background666 {
    background-color: #666;
}
.background888 {
    background-color: #888;
}
.background000 {
    background-color: #000;
}
.backgroundBBB {
    background-color: #BBB;
}
.backgroundDDD {
    background-color: #DDD;
}
.backgroundWhite {
    background-color: white;
}
.backgroundPink {
    background-color:#991a1a;
}

.textLeft {
    text-align: left;
}
.textRight {
    text-align: right;
}
.textCenter {
    text-align: center;
}

.weightNormal {
    font-weight: normal;
}
.weightBold {
    font-weight: bold;
}
.weightBolder {
    font-weight: bolder;
}

.familyArial {
    font-family: Arial;
}

.italic {
    font-style: italic;
}

.size10px {
    font-size: 10px;
}
.size12px {
    font-size: 12px;
}
.size14px {
    font-size: 14px;
}
.size16px {
    font-size: 16px;
}
.size18px {
    font-size: 18px;
}
.size20px {
    font-size: 20px;
}
.size48px {
    font-size: 48px;
}
.size64px {
    font-size: 64px;
}

.line24px {
    line-height: 24px;
}

.spacing1px {
    letter-spacing: 1px;
}
.spacing2px {
    letter-spacing: 2px;
}
.spacing4px {
    letter-spacing: 4px;
}

.border1px {
    border: 1px solid;
}
.border2px {
    border: 2px solid;
}
.border6px {
    border: 6px solid;
}
.border12px {
    border: 12px solid;
}
.border1pxWhite {
    border: 1px solid white;
}
.border2pxWhite {
    border: 2px solid white;
}
.borderTop1px {
    border-top: 1px solid;
}
.borderRight1px {
    border-right: 1px solid;
}
.borderBottom1px {
    border-bottom: 1px solid;
}
.borderLeft1px {
    border-left: 1px solid;
}
.borderWhite {
    border-color: white;
}
.border444 {
    border-color: #444;
}
.border666 {
    border-color: #666;
}
.border888 {
    border-color: #888;
}
.border000 {
    border-color: #000;
}
.borderBBB {
    border-color: #BBB;
}
.borderDDD {
    border-color: #DDD;
}

.radius4px {
    border-radius: 4px;
}
.radius8px {
    border-radius: 8px;
}
.radius16px {
    border-radius: 8px;
}

.opacity00 {
    opacity: 0;
}
.opacity01 {
    opacity: 0.1;
}
.opacity02 {
    opacity: 0.2;
}
.opacity03 {
    opacity: 0.3;
}
.opacity04 {
    opacity: 0.4;
}
.opacity05 {
    opacity: 0.5;
}
.opacity06 {
    opacity: 0.6;
}
.opacity07 {
    opacity: 0.7;
}
.opacity08 {
    opacity: 0.8;
}
.opacity09 {
    opacity: 0.9;
}
.opacity10 {
    opacity: 1;
}

.zi1 {
    z-index: 1;
}
.zi10 {
    z-index: 10;
}
.zi12 {
    z-index: 12;
}